<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$page_title|default:"Kalkulator"}</title>

    <link rel="stylesheet" href="{$app_url}/assets/css/main.css">
    <link rel="stylesheet" href="{$app_url}/assets/css/fontawesome-all.min.css">
    
    <noscript>
        <link rel="stylesheet" href="{$app_url}/assets/css/noscript.css">
    </noscript>
</head>
<body>

<header style="text-align: center; margin: 1em; border: 1px solid #ccc; padding: 1em;">
    <h1>Kalkulator kredytowy</h1>
</header>

<div style="margin: 1em; border: px solid #ccc; padding: 1em;">
    {block name=content} 
        {/block}
</div>

<div class="footer" style="text-align:center; margin-top:3em; border: 1px solid #ccc; padding: 1em;">
    <p>Autor: Konrad Kucharski</p>
</div>

</body>
</html>